<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  		
		<link rel="stylesheet" href="./css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="./css/bootswatch.min.css">
		<link rel="stylesheet" href="./css/myStyle.css">
		
		<title>Contador Twitter</title>

	</head>
	<body>
		<div class="container">
                                        <div class="page-header" ALIGN=center>
                                        <h1 class="text-primary">Popularidad de amigos en Twitter</h1>
                                        </div>

	 	<div id="re">
		 	<form action="/" method="post">
		   		<p><b>Nombre de usuario en Twitter: </b></p><input type="text" name="firstname"  value="" class="form-control" autofocus>
		   		<p><b>¿Cuántos amigos desea ver? </b></p><input type="text" name="n" value="1" class="form-control">
		   		<!--<input  type="submit" value="Enviar" >-->
				<button type="submit" class="btn btn-primary btn-lg">Enviar</button>
		 	</form>
	 	</div>
	 	
	 
 		
 		<div id="izquierda">

                       <% if @name != ''%>
				<%if @number>10%>
					<p class="bg-danger" > Sólo se puede mostrar hasta 10 amigos </p>
				<%elsif @amigos_usuario.length <= 0 %>
					<p class="bg-danger">El usuario no existe o no tiene amigos</p>
				<%elsif @amigos_usuario.length < @number %>
					<p class="bg-danger">El usuario tiene menos de <%= @number%> amigos</p>
					<ol>
						<% @amigos_usuario.each do |i| %> 
							<li id="col" class="bg-primary"><%= i %><br></li>
						<% end %>
					</ol>
				<%else%>
					<p class="bg-info">Amigos :</p>
					<ol>
						<% @amigos_usuario.each do |i| %> 
							<li id="col" class="bg-primary"><%= i %><br></li>
						<% end %>
					</ol>
				<%end%>
			<%end%>
		</div>
				
				<div class="row">
					<div class="col-md-12" ALIGN=center>
					<p>© 2014 Sistemas y Tecnologias Web - ULL</p>
					</div>
				</div>
	</body>
</html>
