<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  		
		<link rel="stylesheet" href="./css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="./css/bootswatch.min.css">
		<link rel="stylesheet" href="./css/myStyle.css">
		
		<title>Rack::Response</title>

	</head>
	<body style= "background-color: #96ddec;">
		<div id="cabecera">
	 			<p><img src="/bird_icon.png" WIDTH=100 HEIGHT=100 />
	 			<b>Popularidad de amigos en Twitter</b></p>
	 	</div>
	 	
	 	<div id="re">
		 	<form action="/" method="post">
		   		<p><b>Nombre de usuario en Twitter: </b></p><input type="text" name="firstname"  value="" autofocus>
		   		<p><b>¿Cuántos amigos desea ver? </b></p><input type="text" name="n" value="1">
		   		<input  type="submit" value="Enviar" >
		 	</form>
	 	</div>
 		
 		<div id="izquierda">

                       <% if @name != ''%>
				<%if @number>10%>
					<p id="warning"> Sólo se puede mostrar hasta 10 amigos </p>
				<%elsif @amigos_usuario.length <= 0 %>
					<p id="warning">El usuario no existe o no tiene amigos</p>
				<%elsif @amigos_usuario.length < @number %>
					<p id="warning">El usuario tiene menos de <%= @number%> amigos</p>
					<ol>
						<% @amigos_usuario.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%else%>
					<p>Amigos :</p>
					<ol>
						<% @amigos_usuario.each do |i| %> 
							<li id="col"><%= i %><br></li>
						<% end %>
					</ol>
				<%end%>
			<%end%>
		</div>	
	</body>
</html>
